/* 

Lestra CSS 2021. 

Units: 
  * em for fonts.
  * rem for padd/margins.
  * % for layouts.

*/

:root {
	--light-gray: #f3efef;
	--gray: #757575;
	--dark: #242424;
}

html {
	font-size: 100%;
}

body {
	margin: 0;
	color: var(--dark);
}

/* <HEADER>*</HEADER> */

.header-navi {
	background-color: var(--light-gray);
	width: 100%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: center;
	font-size: 1.5em;
	border-bottom: 1px solid var(--light-gray);
	padding: 1.5rem 0;
	position: fixed;
	z-index: 999;
}

.header-logo {
	background-color: var(--dark);
	padding: 0.6rem;
	transition: 0.5s;
	margin-left: 1rem;
}

.header-logo:hover {
	opacity: 0.8;
}

.header-logo a {
	text-decoration: none;
	color: var(--light-gray);
}

.header-links {
	margin-right: 1rem;
	text-align: right;
}

.header-links a {
	color: var(--gray);
	text-decoration-style: solid;
	padding: 0.2rem;
	transition: 0.5s;
}

.header-links a:hover {
	color: var(--dark);
	text-decoration-style:double;
}

.first-screen {
	background-color: red;
	height: 100vh;
	position: relative;
	z-index: 1;
}

/* <MAIN>*</MAIN> */

main {
	font-size: 2em;
	font-weight: bold;
	text-align: center;
	margin-top: 2rem;
}


/* <FOOTER>*</FOOTER> */

footer {
	font-size: 1.5em;
	text-align: center;
	margin-top: 2rem;
}