:root {
    /* COLORS */
    --dark: #242424;
    --white: #f7f3f3;
    --gray: #a3a1a1;
    --light-gray: #d3d3db;
    --gray-sky: #ebebed;
    --red: #a10404;

    /* FONTS */
    --big: 1.8em;
    --larger: 1.3em;
    --normal: 1.1em;
}

body {
    background-color: var(--dark);
    font-family: 'Mukta', sans-serif;
    font-size: 100%;
}

/* CARD */
.card {
    background-color: var(--white);
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 2fr;
    max-width: 600px;
    margin: 0 auto;
}

.card-img img {
    width: 100%;
    display: block;
    padding: 5px;
    transition: 0.5s;
}

.card-img img:hover {
    filter: grayscale(100%);
}

.card-info {
    padding: 10px 30px 0 20px;
}

.card-info h1 {
    font-weight: bold;
    margin-bottom: 0.3rem;
    font-size: var(--big);
    font-weight: lighter;
}

.card-desc {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 2rem;
}

.card-price {
    font-size: var(--normal);
    color: var(--gray);
}

.card-available {
    text-align: right;
    color: var(--gray);
    font-size: var(--normal);
}

.card-sizes {
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--light-gray);
}

.card-sizes span {
    height: 25px;
    width: 25px;
    background-color: var(--gray-sky);
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    padding: 3px;
    cursor: pointer;
    transition: 0.5s;
}

.card-sizes span:hover {
    background-color: var(--gray);
}

.card-buttons {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 2fr 2fr 45px;
    gap: 15px;
}

.card-buttons-buy {
    border: 0;
    background-color: var(--dark);
    color: var(--white);
    padding: 15px 30px 15px 30px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
}

.card-buttons-buy:hover {
    opacity: 0.8;
}

.card-buttons-add {
    border: 1px solid var(--light-gray);
    background-color: var(--white);
    color: var(--dark);
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
}

.card-buttons-add:hover {
    background-color: var(--red);
    color: var(--white);
    border-color: var(--red);
}

.card-buttons-like {
    border: 1px solid var(--light-gray);
    background-color: var(--white);
    color: var(--dark);
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
}

.card-buttons-like .fa-heart {
    color: var(--light-gray);
    font-size: var(--larger);
}

.card-buttons-like:hover {
    background-color: var(--red);
    color: var(--white);
    border-color: var(--red);
}

.card-delivery {
    color: var(--gray);
    font-weight: lighter;
}

/* RESPONSIVE */

@media only screen and (max-width: 640px) {
	.card {
		display: block;
	}
	.card-img img {
		padding: 0;
	}
	.card-delivery {
		padding-bottom: 1rem;
        text-align: center;
	}
}