body {
    background-color: #242424;
    font-family: 'Outfit', sans-serif;
    font-size: 100%;
}

.card {
    background-image: url('img/image.jpg');
    height: 400px;
    width: 300px;
    display: grid;
    align-content: end;
    border-radius: 5px;
    margin: 0 auto;
}

.card-wrapper {
    background-image: linear-gradient(transparent 0%, rgba(40, 43, 47, 0.5) 25%, rgba(40, 43, 47, 0.75) 60%, rgb(40, 43, 47) 90%);
}

.card-title {
    color: white;
    margin-bottom: 2rem;
    margin-left: 2rem;
    font-size: 2em;
    font-weight: bold;
    border-bottom: 5px solid gray;
    width: 50px;
}
