html,
body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    text-align: center;
    font-weight: 300;
}

.colors {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

#color1,
#color2,
#color3,
#color4,
#color5 {
    padding: 20px;
    text-align: center;
}

#color1-hex,
#color2-hex,
#color3-hex,
#color4-hex,
#color5-hex {
    margin-top: 80%;
    padding: 5px;
    background: white;
    border-radius: 3px;
}

.lock-color {
    margin-top: 15px;
    opacity: 0.3;
    font-size: 22px;
    cursor: pointer;
}

.chosen .lock-color {
    opacity: 1;
}

.lock-color .fas {
    box-shadow: 0px 0px 8px 5px white;
    background: white;
    border-radius: 15px;
}

.lock-color:hover {
    opacity: 1;
}

.roll-button {
    margin-top: 20px;
    text-align: center;
}

#roll {
    padding: 10px 30px;
    border: 0px;
    background-color: lightgray;
}